a {
  text-decoration: underline;
  color: #00004f;
}

a:hover {
  text-decoration: underline;
  color: #00004f;
}

a:active {
  text-decoration: underline;
  color: #00004f;
}

a:visited {
  text-decoration: underline;
  color: #00004f;
}

tbody td {
  padding: 7px;
}

thead tr {
  background-color: #ffe291;
}

tbody tr:nth-child(odd) {
  background-color: #bfd6ff;
}

tbody tr:nth-child(even) {
  background-color: #bffffb;
}

#divQuestion {
  padding: 7px;
  background-color: #ffe291;
}

#divQuestion button {
  padding: 7px;
}

#divAnswer {
  padding: 7px;
  background-color: #bffffb;
  display: none;
}
