body {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: #181818;
  background-color: #eaeaea;
}

a {
  text-decoration: underline;
  color: #00004f;
}

a:hover {
  text-decoration: underline;
  color: #00004f;
}

a:active {
  text-decoration: underline;
  color: #00004f;
}

a:visited {
  text-decoration: underline;
  color: #00004f;
}

tbody td {
  padding: 7px;
}

thead tr {
  background-color: #ffe291;
}

tbody tr:nth-child(odd) {
  background-color: #bfd6ff;
}

tbody tr:nth-child(even) {
  background-color: #bffffb;
}

#divQuestion {
  padding: 7px 18px;
  background-color: #ffe291;
}

#divQuestion button {
  padding: 7px;
}

#divAnswer {
  padding: 7px 18px;
  background-color: #bffffb;
}

input {
  padding: 7px;
  border-radius: 7px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

select {
  padding: 7px;
  border-radius: 7px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

textarea {
  padding: 7px;
  border-radius: 7px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  width: 90%;
  height: 120px;
}

button {
  padding: 7px;
  border-radius: 7px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}
