* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/roboto.ttf");
}

@font-face {
  font-family: "Odibee";
  src: url("assets/odibee.ttf");
}

body {
  background: url("assets/background.jpg");
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #180027;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Odibee", sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4,
h5 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #360045;
}

a:hover {
  text-decoration: underline;
  color: #540063;
}

a.brand {
  text-decoration: none;
  color: #180027;
}

a.brand:hover {
  text-decoration: none;
  color: #180027;
}

input {
  color: #180027;
  background: #efefef;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 5px;
  border: 2px solid #180027;
  border-radius: 3px;
  outline: none;
  margin: 3px;
}

p {
  margin-top: 9px;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: left;
  max-width: 900px;
}

.top-left {
  display: flex;
  flex-direction: column;
  padding: 21px;
  margin: 18px;
  border-radius: 3px;
  border-right: 3px solid #450027;
  border-bottom: 3px solid #450027;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0px 0px 0px 0px;
}

.brand h1 {
  margin: 0px 0px 0px 10px;
}

.top-right {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 450px;
  padding: 18px;
  margin: 18px;
  border-radius: 3px;
  border-bottom: 3px solid #450027;
}

.top-right h3 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.cross-line {
  background: #450027;
  width: 100%;
  height: 3px;
}

.article {
  max-width: 900px;
  padding: 40px;
  border-left: 3px solid #450027;
  border-right: 3px solid #450027;
  background-color: white;
}

.footer {
  padding: 27px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
