.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #270036;
  background-image: url("assets/intelligence.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 720px;
}

.banner-body {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 1280px;
  height: 100%;
  overflow: visible;
}

.banner-item {
  padding: 18px;
  background-color: rgba(9, 0, 27, 0.9);
  min-width: 300px;
  max-width: 420px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 3px solid #1b000f;
  color: #fffae9;
}

.banner-item h2 {
  padding-bottom: 9px;
  margin-bottom: 9px;
  border-bottom: 2px solid #fffae9;
}

.banner-item p {
  margin-bottom: 9px;
}
