body {
  color: #181818;
  background-color: #eaeaea;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

a {
  text-decoration: underline;
  color: #21004f;
}

a:hover {
  text-decoration: underline;
  color: #21004f;
}

a:active {
  text-decoration: underline;
  color: #21004f;
}

a:visited {
  text-decoration: underline;
  color: #21004f;
}

thead tr {
  background-color: #ffe291;
  text-align: left;
}

thead th {
  padding: 7px;
}

tbody tr:nth-child(odd) {
  background-color: #bfd6ff;
}

tbody tr:nth-child(even) {
  background-color: #bffffb;
}

tbody td {
  padding: 7px;
}

#divQuestion {
  padding: 7px 18px;
  background-color: #ffe291;
}

#divQuestion button {
  padding: 7px;
}

#divAnswer {
  padding: 7px 18px;
  background-color: #bffffb;
}

input {
  padding: 7px;
  border-radius: 7px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  background-color: #eeeeee;
  margin: 3px;
}

select {
  padding: 7px;
  border-radius: 7px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  width: 95%;
  background-color: #eeeeee;
  margin: 3px;
}

textarea {
  padding: 7px;
  border-radius: 7px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  width: 95%;
  height: 120px;
  background-color: #eeeeee;
  margin: 3px;
}

button {
  padding: 7px;
  border-radius: 7px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  background-color: #c9c9c9;
  margin: 3px;
}

p {
  margin: 18px;
}

h3 {
  margin-bottom: 27px;
}
